<div class="flex text-center pt-4 px-5 relative">
    <div class="cursor-pointer w-1/4 divide-solid divide-y-4 divide-cyan-600 border-4 border-cyan-800 bg-gray-700 mx-2 ring-0 hover:ring-4 hover:ring-cyan-400 transition-all duration-300">
        <h4 class="font-mono text-2xl italic font-bold">Projects</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla blanditiis adipisci voluptatem nobis iste quasi exercitationem debitis, mollitia obcaecati ut voluptates ipsa sed officiis ex magni possimus. Culpa, quaerat.
        </p>
    </div>
    <div class="cursor-pointer w-1/4 divide-solid divide-y-4 divide-cyan-600 border-4 border-cyan-800 bg-gray-700 mx-2 ring-0 hover:ring-4 hover:ring-cyan-400 transition-all duration-300">
        <h4 class="font-mono text-2xl italic font-bold">Teams</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nobis quos in excepturi repellat, officia aspernatur iste commodi est tenetur nesciunt iusto nisi veritatis dignissimos, placeat possimus provident assumenda! Exercitationem.</p>
    </div>
    <div class="cursor-pointer w-1/2 divide-solid divide-y-4 divide-cyan-600 border-4 border-cyan-800 bg-gray-700 mx-2 ring-0 hover:ring-4 hover:ring-cyan-400 transition-all duration-300">
        <h4 class="font-mono text-2xl italic font-bold">History</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat veritatis eveniet nobis non cupiditate assumenda vero exercitationem nihil ducimus reiciendis nesciunt deserunt repellat. Beatae illo laborum omnis reprehenderit dolorem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi officiis enim dolores iste itaque laudantium sunt nostrum nihil. Asperiores fuga laboriosam modi cumque voluptatum consequatur odio esse inventore repellat aliquam.
            Doloribus iure iste fugit consectetur ipsum facilis quod ratione magnam ea pariatur culpa, consequatur omnis nostrum nam nemo vel fugiat sint maxime, est suscipit aliquam, dolorem quis voluptas. Aut, sapiente.
            Nihil aut necessitatibus quae enim, recusandae voluptates vel dolores asperiores officiis blanditiis odio dolorem dicta, quia dolore ducimus amet magni in sed accusamus quidem, impedit adipisci quam deserunt excepturi! Vero!</p>
    </div>
</div>