<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
<div *ngIf="project$ | async as project; else spinner">
    <div class="flex flex-col lg:flex-col">
        <div>
            <h2 class="font-extrabold text-6xl text-center mb-8">
                {{ project.name }}
            </h2>

            <!-- ADD FORM -->
            <form *ngIf="isAddMode" (submit)="onSave()" class="p-4 w-4/6 m-auto mb-4 bg-gray-700 bg-opacity-60 border-2 border-black rounded-2xl transition-all duration-500" [formGroup]="taskForm">
                <h3 class="text-5xl italic text-center mb-4">Add a task!</h3>
                <div class="flex flex-col lg:flex-row justify-around mb-4">
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <label for="">Name</label>
                            <input formControlName="name" type="text" name="">
                        </div>
                        <div>
                            <label for="">User</label>
                            <ng-select [items]="users" formControlName="user" bindLabel="name" bindValue="id"></ng-select>
                        </div>
                        <div>
                            <label for="">Type</label>
                            <ng-select [items]="['Feature', 'Bug']" formControlName="type"></ng-select>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label for="">Description</label>
                        <textarea formControlName="description" name="" cols="30" rows="6"></textarea>
                    </div>
                </div>
                <div class="flex justify-between">
                    <button type="submit" class="block w-2/6 mx-auto bg-gray-700 text-white ring-2 ring-white">Add</button>
                    <button type="button" (click)="closeForm()" class="block w-2/6 mx-auto bg-red-700 text-white ring-2 ring-white">Cancel</button>
                </div>
            </form>

            <!-- EDIT FORM -->
            <form (submit)="onUpdate()" *ngIf="isEditMode" class="p-4 w-4/6 m-auto mb-4 bg-gray-700 bg-opacity-60 border-2 border-black rounded-2xl transition-all duration-500" [formGroup]="taskEditForm">
                <input type="hidden" formControlName="id">
                <h3 class="text-5xl italic text-center mb-4">Update a task!</h3>
                <div class="flex flex-col lg:flex-row justify-around mb-4">
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <label for="">Name</label>
                            <input formControlName="editName" type="text" name="">
                        </div>
                        <div>
                            <label for="">User</label>
                            <ng-select [items]="users" formControlName="editUser" bindLabel="name" bindValue="id"></ng-select>
                        </div>
                        <div>
                            <label for="">Type</label>
                            <ng-select [items]="['Feature', 'Bug']" formControlName="editType"></ng-select>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label for="">Description</label>
                        <textarea formControlName="editDescription" name="" cols="30" rows="6"></textarea>
                    </div>
                </div>
                <div class="flex justify-between">
                    <button type="submit" class="block w-2/6 mx-auto bg-gray-700 text-white ring-2 ring-white">Update</button>
                    <button type="button" (click)="closeForm()" class="block w-2/6 mx-auto bg-red-700 text-white ring-2 ring-white">Cancel</button>
                </div>
            </form>
        </div>

        <!-- GENERAL INFO -->
        <div class="flex flex-col xl:flex-row justify-between">
            <div class="p-4 shadow-custom bg-gray-900 bg-opacity-80 rounded-xl mr-4 xl:w-3/12">
                <h2 class="text-3xl italic mb-6">
                    General info
                </h2>
                <p class="border-b-2 border-gray-600 py-2 mb-1">Description: {{ project.description }}</p>
                <p class="border-b-2 border-gray-600 py-2 mb-1">Time frame: {{ project.startDate | date}} - {{ project.finishDate | date}}</p>
                <p class="border-b-2 border-gray-600 py-2 mb-1">Responsible team: {{ project.team.name }}</p>
                <p class="border-b-2 border-gray-600 py-2 mb-1">Team leader: {{ project.team.leader.name }}</p>
                <p>
                    Contact:
                    {{ project.team.leader.email }}
                </p>
            </div>

            <!-- HISTORY -->
            <div class="p-4 shadow-custom bg-gray-900 bg-opacity-95 rounded-xl mr-4 xl:w-5/12">
                <h2 class="text-3xl italic mb-6">
                    History
                </h2>
                <div *ngFor="let record of project.history">
                    <p class="p-2 mb-2 rounded-2xl bg-gray-700 bg-opacity-70 border-2 border-gray-500 whitespace-pre-wrap">
                        {{ record.details }}
                        <br>
                        {{ record.created_at | date: 'short' }}
                    </p>

                </div>
            </div>

            <!-- TASKS -->
            <div class="p-4 shadow-custom bg-gray-900 bg-opacity-80 rounded-xl mr-4 xl:w-4/12">
                <div class="flex justify-between mb-2 items-baseline">
                    <h2 class="text-2xl italic mb-6">
                        Tasks[{{ project.taskAmount! }}]
                    </h2>
                    <button (click)="isAddMode = true; isEditMode = false;" type="button" class="bg-gray-900 p-4 bg-opacity-75 ring-4 ring-cyan-600 text-base">Add Task!</button>
                </div>
                <div [ngClass]="{'bg-red-900': task.type === 'Bug', 'bg-blue-900': task.type === 'Feature'}" *ngFor="let task of tasks$ | async;" class="min-h-180 border-2 border-gray-500 p-2 bg-opacity-50">
                    <div class="flex justify-between">
                        <div>
                            <h5 class="font-bold text-xl">
                                {{ task.name }}
                            </h5>
                            <h5 class="font-bold text-xl">
                                [{{ task.type }}]
                            </h5>
                            <p>
                                {{ task.user.name }}
                            </p>
                            <p class="italic">
                                {{ task.description }}
                            </p>
                        </div>
                        <div class="flex flex-col">
                            <button (click)="onEditMode(task)" type="button" class="bg-gray-900 mb-4 p-2 bg-opacity-75 ring-4 ring-cyan-600 text-base h-1/2 text-white rounded-full">
                                Edit
                            </button>
                            <button (click)="closeTask(task.id)" type="button" class="bg-gray-900 p-2 bg-opacity-75 ring-4 ring-green-600 text-base h-1/2 text-white rounded-full">
                                Close
                            </button>
                        </div>
                    </div>
                </div>

                <!-- NAVIGATION -->
                <div class="flex justify-around mt-2">
                    <button class="px-4 py-2 bg-cyan-900 border-2 border-white rounded-3xl focus:outline-none active:outline-none" *ngIf="page > 0" (click)="previousTasksPage()">
                        &larr; Previous
                    </button>
                    <button class="px-4 py-2 bg-cyan-900 border-2 border-white rounded-3xl focus:outline-none active:outline-none" *ngIf="(page+1)*5 < project.taskAmount" (click)="nextTasksPage()">
                        Next &rarr;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>