<div class="min-h-screen text-white flex flex-col" style="background-image: url('assets/images/bg.jpg'); background-size: cover;">
    <app-header></app-header>
    <div class="flex flex-1">
        <div class="w-1/6 p-2">
            <app-user-projects></app-user-projects>
        </div>
        <div class="bg-gray-800 bg-opacity-80 flex-1 w-full md:w-4/6 mx-auto p-3">
            <router-outlet></router-outlet>
        </div>
        <div class="w-1/6 p-2">
            <app-user-tasks></app-user-tasks>
        </div>
    </div>
    <footer class="w-full lg:w-2/3 mx-auto bg-gray-800">
        <div class="text-gray-700">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</div>