<div class="w-100 border p-5 border-red-700 mb-4" *ngIf="error">
    {{ error }}
</div>
<div class="flex-1 content-center" *ngIf="loginMode && !isLoggedIn">
    <form [formGroup]="userForm" (submit)="onLogin()">
        <div class="flex flex-col w-100 lg:w-2/6 text-center mx-auto border border-cyan-300 p-5 bg-gray-900 hover:border-green-400 transition-all duration-500">
            <h2 class="font-extrabold font-mono text-4xl mb-4">Login</h2>
            <label class="mb-2" for="email">Email</label>
            <input class="mb-2 px-3 text-black" type="text" formControlName="email" name="email" id="email">
            <label class="mb-2" for="password">Password</label>
            <input class="mb-2 px-3 text-black" type="password" formControlName="password" name="password" id="password">
            <div class="flex content-between flex-row h-12">
                <button type="submit" [disabled]="!userForm.valid" class="block w-2/6 mx-auto bg-gray-700 text-white animate-pulse border-cyan-800">Submit</button>
                <button *ngIf="!isLoggedIn" type="button" (click)="loginMode = !loginMode" class="block w-2/6 mx-auto bg-gray-500 text-white animate-pulse border-cyan-800">Switch to Register</button>
            </div>
        </div>
    </form>
</div>
<div class="flex-1 content-center" *ngIf="!loginMode && !isLoggedIn">
    <form (ngSubmit)="onRegister()">
        <div class="flex flex-col w-100 lg:w-2/6 text-center mx-auto border border-cyan-300 p-5 bg-gray-900 hover:border-green-400 transition-all duration-500">
            <h2 class="font-extrabold font-mono text-4xl mb-4">Register</h2>
            <label class="mb-2" for="email">Username</label>
            <input class="mb-2 px-3" type="text" name="username" id="username">
            <label class="mb-2" for="email">Email</label>
            <input class="mb-2 px-3" type="text" name="email" id="email">
            <label class="mb-2" for="password">Password</label>
            <input class="mb-2 px-3" type="password" name="password" id="password">
            <div class="flex flex-row content-between h-12">
                <button class="block w-2/6 mx-auto bg-gray-700 text-white animate-pulse border-cyan-800">Submit</button>
                <button type="button" (click)="loginMode = !loginMode" class="block w-2/6 mx-auto bg-gray-500 text-white animate-pulse border-cyan-800">Switch to Login</button>
            </div>
        </div>
    </form>
</div>