#menu-toggle:checked + #menu{
    display: block;
}

.relative:hover #dropdown-menu{
    display: block;
}

.line-bottom{
    @apply lg:p-4 py-3 px-2 mx-1 block transition duration-500 ease-in-out border-b-2 border-transparent;
    &:hover{
        @apply border-cyan-600;
    }
    &:focus{
        border: none;
        outline: none;
    }
}
