<form (submit)="onSubmit()" [formGroup]="editForm" class="flex flex-col mx-auto bg-gray-900 bg-opacity-95 mt-16 p-5 border-2 border-white rounded-lg">
    <h3 class="text-4xl mb-8 font-mono">{{ project.name }}</h3>
    <label for="name">Name</label>
    <input formControlName="name" type="text" name="name" class="p-2">
    <label for="description">Description</label>
    <input formControlName="description" type="text" name="description" class="p-2">
    <label for="team">Team</label>
    <ng-select formControlName="team" bindLabel="name" bindValue="id" [items]="teams"></ng-select>
    <div class="flex justify-between">
        <div class="">
            <label for="start_date">Date of project start</label>
            <input type="datetime-local" step="3600" formControlName="start_date" name="start_date" id="start_date">
        </div>
        <div class="">
            <label for="start_date">Estimated date of project finish</label>
            <input type="datetime-local" formControlName="finish_date" name="finish_date" id="finish_date">
        </div>
    </div>
    <button type="submit" class="block w-2/6 mx-auto bg-gray-700 text-white ring-2 ring-white mt-4">Save</button>
</form>